:root {
  font-size: 10px;
  --primary-color: rgba(68, 68, 68, 0.5);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0 auto;
}

.body-overflow {
  overflow: hidden;
}


/* __________OVERLAY__________ */
#overlay {
  position: fixed;
  z-index: 3;
  display: grid;
  place-items: center;
  background-color: rgb(95, 95, 95);
  transition: 0.5s ease-in-out;
}


#overlay h2 {
  text-align: center;
  color: white;
  font-size: 4rem;
  margin: 15px 0 25px 0;
}

/* on click event */
.overlay-display {
  width: 100vw;
  height: 100vh;
  border-radius: 0;
  background-color: rgba(0,0,0, 0.9);
  overflow: hidden;
  bottom: 0px;
  left: 0px;
}

/* on click event */
.overlay-hide {
  width: 1px;
  height: 1px;
  border-radius: 90px 90px 0 0;
  left: 50%;
  bottom: 0px;
}

/* __________OVERLAY BUTTON__________ */
.overlay-toggle {
  position: fixed;
  bottom: 0px;
  left: 50%;
  margin-left: -40px;
  font-size: 3rem;
  width: 80px;
  height: 40px;
  border: none;
  border-radius: 90px 90px 0 0;
  background:linear-gradient(to bottom, #78c8e6 15%, #408c99 100%);
  outline: none;
  display: block;
  z-index: 4;
  transition: 0.5s;
}

.overlay-toggle:hover {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  box-shadow: 0px 3px 15px 5px #000;
  transition: 0.5s;
}

/* __________BUTTONS RIPPLE EFFECT__________ */
button {
  overflow: hidden;
  cursor: pointer;
  outline: none;
}

.overlay-toggle span {
  position: absolute;
  background-color: #fff;
  transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 50%;
  animation: animate-btn 1s linear infinite;
}

@keyframes animate-btn {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0.5;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

.fa-close {
  transition: 0.5s ease-in;
}


.overlay-content {
  background-color: rgba(0,0,0, 0.4);
  width: 450px;
  text-align: center;
  margin-top: 30px;
  padding: 10px;
}

#overlay img {
  background-repeat: no-repeat;
  background-size: cover;
}



/* __________WEATHER APP__________ */

.weather-app {
  margin: 0 auto;
  width: 400px;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: grid;
  place-items: center;
  box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.5),
              inset 0 -15px 15px rgba(255, 255, 255, 0.5),
              0 15px 15px rgba(0,0,0, 0.5),
              inset 0 15px 15px rgba(0,0,0, 0.5);
}


.notification {
  display: none;
  background-color: white;
}

.notification p {
	color: #b10a1b;
	font-size: 2rem;
	margin: 0;
	text-align: center;
	padding: 10px 0;
}

.temperature {
  text-align: center;
  font-size: 5rem;
  color: #fff;
}

.location {
  text-align: center;
  font-size: 3rem;
  padding-bottom: 10px;
  color: #fff;
}

.weather-icon {
  text-align: center;
}

.weather-app button {
  width: 57px;
  height: 57px;
	text-align: center;
	font-size: 1.5rem;
	padding-top: 10px;
	padding-bottom: 10px;
  border: none;
  border-radius: 50%;
  background-color: rgba(0,0,0, 0.6);
  color: white;
  margin-bottom: 3px;
}


/* __________CLOCK & GREETING__________ */
#time {
  font-size: 8rem;
  color: #fff;
  
}


/* __________NAVBAR__________ */
nav {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: white;
  z-index: 2;
}

.logo {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 2rem;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.nav-links a {
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 1.5rem;
}


.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
  transition: all 0.3s ease;
}



/* __________MAIN__________ */
main {
  margin: 0 auto;
}

.home-section {
  width: 100%;
  height: 100vh;
  background-image: url('/assets/img/home-background.jpg');
  background-color: var(--primary-color);
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  max-width: 100%;
  height: auto;
}

.title {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  cursor: none;
  text-align: center;
  text-shadow: 3px 5px 5px rgb(0, 0, 0);
  /* z-index: 1; */
  overflow: hidden;
  user-select: none;
}

.baffle-title {
  margin-bottom: 20px;
  font-size: 3rem;
  letter-spacing: 0.5rem;
}


.content-section {
  font-size: 3rem;
  margin: 50px 100px;
  display: flex;
  justify-content: space-around;
}


.content-section article {
  margin-bottom: 50px;
}

.main-content {
  width: 50%;
}

.contactme-section {
  width: 25%;
  height: 300px;
  position: sticky;
  top: 80px;
  background-color: yellowgreen;
}

/* RESPONSIVE */
@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    background-color: white;
  }

  .nav-links li {
    opacity: 0;
  }

  .hamburger {
    display: block;
  }

  .content-section {
    display: block;
  }
}

@media screen and (max-width: 576px) {
  #overlay {
    display: none;
  }

  .overlay-toggle {
    display: none;
  }
}


/* __________Nav animation__________ */
.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle-burger .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle-burger .line2 {
  opacity: 0;
}

.toggle-burger .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}